/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "Open Sans", sans-serif; font-weight: 300; font-size: 14px; line-height: 1.4; }

.footer { position: relative; *zoom: 1; height: 165px; padding: 0 50px; }
.footer:after { content: " "; display: table; clear: both; }
.footer__copyrights { position: absolute; top: 50%; margin-top: -8px; font-size: 12px; color: #414141; }
.footer .btn_up { position: absolute; right: 50px; top: 50%; margin-top: 16px; padding-right: 50px; -moz-transition: all 400ms; -o-transition: all 400ms; -webkit-transition: all 400ms; transition: all 400ms; opacity: 0; }
.footer .btn_up:before { content: ""; position: absolute; top: 20px; right: 30px; background: url('../img/icons-s6cce7eb27b.png') 0 -69px no-repeat; width: 10px; height: 6px; }
.footer .btn_up.is-animated { margin-top: -24px; opacity: 1; }
.footer__socials { text-align: center; height: 100%; text-align: center; font-size: 0; }
.footer__socials:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.footer__socials li { display: inline-block; vertical-align: middle; margin: 0 10px; }
.footer__socials li a { position: relative; display: block; height: 31px; width: 31px; }
.footer__socials li a i { position: relative; display: inline-block; z-index: 2; -webkit-transition: -webkit-transform ease-out 0.1s; -moz-transition: -moz-transform ease-out 0.1s; transition: transform ease-out 0.1s; }
.footer__socials li a:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; z-index: -1; -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1); -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1); box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); }
.footer__socials li a:hover:after { -webkit-animation: pulse 1s linear; -moz-animation: pulse 1s linear; -ms-animation: pulse 1s linear; -o-animation: pulse 1s linear; animation: pulse 1s linear; }
.footer__socials li a:hover i { -moz-transform: scale(0.93); -ms-transform: scale(0.93); -webkit-transform: scale(0.93); transform: scale(0.93); }
.footer__socials li a.vk i { background: url('../img/icons-s6cce7eb27b.png') 0 -993px no-repeat; width: 31px; height: 31px; }
.footer__socials li a.vk:after { background: #77a3e4; }
.footer__socials li a.fb i { background: url('../img/icons-s6cce7eb27b.png') 0 -341px no-repeat; width: 31px; height: 31px; }
.footer__socials li a.fb:after { background: #517eda; }
.footer__socials li a.tw i { background: url('../img/icons-s6cce7eb27b.png') 0 -952px no-repeat; width: 31px; height: 31px; }
.footer__socials li a.tw:after { background: #abe1ec; }
.footer__socials li a.dribble i { background: url('../img/icons-s6cce7eb27b.png') 0 -187px no-repeat; width: 31px; height: 31px; }
.footer__socials li a.dribble:after { background: #ff6bb1; }
.footer__socials li a.instagram i { background: url('../img/icons-s6cce7eb27b.png') 0 -382px no-repeat; width: 31px; height: 31px; }
.footer__socials li a.instagram:after { background: #a38272; }

@-moz-keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
@-webkit-keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
@-o-keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
@-ms-keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
@keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
.btn { display: inline-block; height: 47px; line-height: 47px; padding: 0 30px; background: #fa453c; border-radius: 23px; text-decoration: none; color: white; text-transform: uppercase; font-size: 11px; font-weight: 300; -moz-transition: -moz-transform ease-out 0.1s; -o-transition: -o-transform ease-out 0.1s; -webkit-transition: -webkit-transform ease-out; -webkit-transition-delay: 0.1s; transition: transform ease-out 0.1s; }
.btn:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 23px; background: #fa453c; -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); z-index: -1; }
.btn:hover { -moz-transform: translate3d(0, 0, 0) scale(0.96); -ms-transform: translate3d(0, 0, 0) scale(0.96); -webkit-transform: translate3d(0, 0, 0) scale(0.96); transform: translate3d(0, 0, 0) scale(0.96); }
.btn:hover:after { -webkit-animation: pulse 1s linear; -moz-animation: pulse 1s linear; -ms-animation: pulse 1s linear; -o-animation: pulse 1s linear; animation: pulse 1s linear; -moz-box-shadow: 0 0px 5px 2px #fa453c; -webkit-box-shadow: 0 0px 5px 2px #fa453c; box-shadow: 0 0px 5px 2px #fa453c; }
.btn.btn_yellow { padding: 0 40px; background: #ffeb12; color: #071427; font-weight: 400; -moz-box-shadow: 0 19px 30px -18px #ffeb12; -webkit-box-shadow: 0 19px 30px -18px #ffeb12; box-shadow: 0 19px 30px -18px #ffeb12; }
.btn.btn_yellow:after { background: #ffeb12; -moz-box-shadow: 0 0px 5px 2px #ffeb12; -webkit-box-shadow: 0 0px 5px 2px #ffeb12; box-shadow: 0 0px 5px 2px #ffeb12; }

.link { position: relative; display: inline-block; padding-right: 20px; margin-bottom: 25px; font-weight: 300; font-size: 24px; text-decoration: none; color: #161616; }
.link span { display: inline-block; margin-left: 10px; background: url('../img/icons-s6cce7eb27b.png') 0 -46px no-repeat; width: 7px; height: 13px; }

.box-wrap { *zoom: 1; }
.box-wrap:after { content: " "; display: table; clear: both; }

.box-wrap__col { float: left; width: 20%; }
.box-wrap__col.wide { width: 40%; }

.box { float: left; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.box.box_small { width: 50%; }
.m-services .box { border-bottom: 1px solid #f0f0f0; border-left: 1px solid #f0f0f0; }

.topper { position: relative; }

.header-wrap { position: absolute; top: 0; left: 0; right: 0; height: 110px; z-index: 2; }

.header { position: relative; height: 110px; *zoom: 1; padding: 0 50px; background: #fa453c; }
.header:after { content: " "; display: table; clear: both; }
.header.is-fixed { -moz-box-shadow: 0 2px 10px rgba(112, 25, 21, 0.1); -webkit-box-shadow: 0 2px 10px rgba(112, 25, 21, 0.1); box-shadow: 0 2px 10px rgba(112, 25, 21, 0.1); }

.logo { float: left; height: 110px; }
.logo:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.logo a { display: inline-block; vertical-align: middle; background: url('../img/icons-s6cce7eb27b.png') 0 -530px no-repeat; width: 33px; height: 34px; }

.menu { overflow: hidden; text-align: center; padding: 45px 0; }
.menu ul { display: inline-block; margin-left: 146px; }
.menu ul li { display: inline-block; vertical-align: middle; }
.menu ul li a { position: relative; display: block; font-size: 12px; font-weight: 400; text-transform: uppercase; margin: 0 13px; text-decoration: none; color: white; }
.menu ul li a:after { content: ""; position: absolute; top: 100%; left: 0; width: 100%; background: white; opacity: 0; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -webkit-transform: translateY(-10px); transform: translateY(-10px); }
.menu ul li a:hover:after { height: 2px; opacity: 1; -moz-transform: translateY(2px); -ms-transform: translateY(2px); -webkit-transform: translateY(2px); transform: translateY(2px); }

.header__tools { float: right; height: 110px; }
.header__tools:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }

.header__phone { display: inline-block; vertical-align: middle; margin-right: 35px; font-size: 12px; font-weight: 700; color: white; }

.like { display: inline-block; vertical-align: middle; }
.like a { display: inline-block; background: url('../img/icons-s6cce7eb27b.png') 0 -423px no-repeat; width: 31px; height: 31px; }

.slider { position: relative; }
.slider__list { position: relative; overflow: hidden; height: 100%; width: 100%; }
.slider__list > li { position: absolute; top: 0; right: 0; left: auto; width: 100%; height: 100%; overflow: hidden; background: #fa453c; text-align: center; }
.slider__list > li:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.slider__list > li.slider__left-item { left: 0; right: auto; }
.slider__list > li.is-active { z-index: 1; }
.slider__list > li.red { background: #fa453c; }
.slider__list > li.green { background: green; }
.slider__list > li.blue { background: blue; }
.slider__next { position: absolute; top: 50%; right: 48px; background: url('../img/icons-s6cce7eb27b.png') 0 -738px no-repeat; width: 18px; height: 32px; z-index: 2; }
.slider__prev { position: absolute; top: 50%; left: 48px; background: url('../img/icons-s6cce7eb27b.png') 0 -780px no-repeat; width: 18px; height: 32px; z-index: 2; }
.slider__pager { position: absolute; bottom: 70px; left: 0; right: 0; text-align: center; z-index: 2; }
.slider__pager ul { display: inline-block; }
.slider__pager ul li { display: inline-block; vertical-align: middle; margin: 0 11px; }
.slider__pager ul li a { display: block; width: 8px; height: 8px; border-radius: 50%; background: white; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.slider__pager ul li.is-active a { height: 12px; width: 12px; background: #ffeb12; }
.slider__content { display: inline-block; vertical-align: middle; max-width: 800px; padding: 0 50px; }

.logo-big { position: relative; display: inline-block; margin-bottom: 80px; padding-left: 73px; font-size: 32px; font-weight: 700; color: white; text-decoration: none; text-transform: uppercase; }
.logo-big:before { content: ""; position: absolute; top: -4px; left: 0; background: url('../img/icons-s6cce7eb27b.png') 0 -464px no-repeat; width: 55px; height: 56px; }

.slider__text { font-size: 24px; text-transform: uppercase; font-weight: 300; line-height: 1.8; color: white; }
.slider__text span { font-weight: 400; color: #ffeb12; }

.m-works { position: relative; display: block; height: 100%; width: 100%; overflow: hidden; font-size: 0; }
.m-works__img { position: absolute; top: -8px; left: -8px; right: -8px; bottom: -8px; }
.m-works__img .m-works__logo { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; text-align: center; font-size: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; }
.m-works__img .m-works__logo:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.m-works__img .m-works__logo i { position: relative; display: inline-block; vertical-align: middle; }
.m-works__img img { min-width: 100%; min-height: 100%; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-filter: blur(8px); filter: blur(8px); filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=$var); -moz-transition: all 300ms; -o-transition: all 300ms; -webkit-transition: all 300ms; transition: all 300ms; }
.m-works:hover .m-works__img .m-works__logo { opacity: 0; }
.m-works:hover .m-works__img img { -webkit-filter: blur(0px); filter: blur(0px); filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=$var); }

.expedition-logo { background: url('../img/icons-s6cce7eb27b.png') 0 -228px no-repeat; width: 82px; height: 103px; }

.mattioli-logo { background: url('../img/icons-s6cce7eb27b.png') 0 -574px no-repeat; width: 150px; height: 53px; }

.tnt-logo { background: url('../img/icons-s6cce7eb27b.png') 0 -822px no-repeat; width: 121px; height: 120px; }

.m-portfolio { display: block; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 0; padding: 0 15%; font-size: 0; background: white; text-align: left; }
.m-portfolio:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.m-portfolio img { display: inline-block; max-width: 100%; margin-bottom: 30px; }
.m-portfolio__inner { *zoom: 1; display: inline-block; vertical-align: middle; font-size: 14px; color: #6f6f6f; }
.m-portfolio__inner:after { content: " "; display: table; clear: both; }
.m-portfolio__inner p { margin-bottom: 25px; line-height: 1.6; }
.m-portfolio__inner ul { *zoom: 1; }
.m-portfolio__inner ul:after { content: " "; display: table; clear: both; }
.m-portfolio__inner ul li { position: relative; float: left; margin-bottom: 20px; width: 40%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 27px; font-size: 12px; font-weight: 400; text-transform: uppercase; color: #262626; }
.m-portfolio__inner ul li:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s6cce7eb27b.png') 0 -676px no-repeat; width: 16px; height: 12px; }
.m-portfolio__left { margin-bottom: 40px; }
.m-portfolio__right ul { margin-bottom: 30px; }
.m-portfolio__right img { margin-right: 40px; }
.m-portfolio:hover .link { color: #f3463d; }
.m-portfolio:hover .link span { background: url('../img/icons-s6cce7eb27b.png') 0 0 no-repeat; width: 7px; height: 13px; }
.m-portfolio.m-portfolio_mod .link { padding-top: 50px; font-weight: 400; font-size: 16px; text-transform: uppercase; }
.m-portfolio.m-portfolio_mod .link i { position: absolute; top: 0; left: 0; }

.mob-icon { background: url('../img/icons-s6cce7eb27b.png') 0 -637px no-repeat; width: 30px; height: 29px; }

.promotion-icon { background: url('../img/icons-s6cce7eb27b.png') 0 -698px no-repeat; width: 24px; height: 30px; }

.design-icon { background: url('../img/icons-s6cce7eb27b.png') 0 -149px no-repeat; width: 18px; height: 28px; }

.bitrix-icon { background: url('../img/icons-s6cce7eb27b.png') 0 -85px no-repeat; width: 30px; height: 24px; }

.m-events { position: relative; top: -1px; }
.m-events__list { *zoom: 1; background: #ffeb12; }
.m-events__list:after { content: " "; display: table; clear: both; }
.m-events__item { position: relative; float: left; width: 20%; height: 200px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; }
.m-events__item:first-child { text-align: center; }
.m-events__item:first-child .m-events__inner { text-align: center; font-size: 0; }
.m-events__item:first-child .m-events__inner:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.m-events__item:first-child .link { vertical-align: middle; margin-bottom: 0; }
.m-events__item:first-child:hover .link { color: white; }
.m-events__item:first-child:hover .link:before { background: url('../img/icons-s6cce7eb27b.png') 0 -23px no-repeat; width: 7px; height: 13px; }
.m-events__item:hover .m-events__inner { background: transparent; }
.m-events__item:hover .m-events__date { color: rgba(255, 255, 255, 0.8); }
.m-events__item:hover .m-events__text { color: white; }
.m-events__bg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; z-index: 1; }
.m-events__inner { position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 45px 10% 10%; -moz-transition: background 300ms; -o-transition: background 300ms; -webkit-transition: background 300ms; transition: background 300ms; background: #ffeb12; z-index: 2; }
.m-events__date { margin-bottom: 20px; font-size: 12px; font-weight: 300; color: rgba(22, 22, 22, 0.8); -moz-transition: color 300ms; -o-transition: color 300ms; -webkit-transition: color 300ms; transition: color 300ms; }
.m-events__text { line-height: 1.6; font-weight: 400; color: #414141; -moz-transition: color 300ms; -o-transition: color 300ms; -webkit-transition: color 300ms; transition: color 300ms; }

.m-services { background: #ebf0f1; }
.m-services__alert { text-align: center; padding: 75px 50px; color: #161616; font-weight: 300; font-size: 36px; }

.m-clients { padding: 92px 50px; background: url(../img/clients-bg.jpg) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-attachment: fixed; text-align: center; }
.m-clients__title { margin-bottom: 85px; color: white; font-size: 24px; text-transform: uppercase; }
.m-clients__title span { font-weight: 400; }
.m-clients__list { font-size: 0; line-height: 1; }
.m-clients__list li { display: inline-block; vertical-align: middle; width: 20%; margin-bottom: 35px; text-align: center; }
