// styles for inner pages
.portfolio
    padding-top: 150px
    text-align: center
    +r(w768)
        padding-top: 80px
.filters        
    &__nav
        display: inline-block
        font-size: 0
        li
            display: inline-block
            a
                position: relative
                display: block
                height: 80px
                padding: 0 50px 0 30px
                line-height: 80px
                font-weight: 300
                font-size: 14px
                text-decoration: none
                color: #fff
                +tr(background 200ms)
                &:before
                    content: ""
                    position: absolute
                    top: 36px
                    right: 30px
                    +s(arr-down)
                &:hover
                    background: #df3027
                &.is-active
                    background: #df3027
        +r(w480)
            li
                a
                    padding: 0 30px 0 10px
                    &:before
                        right: 10px            
        .pagewrap_blog &
            li
                a
                    &:hover
                        background: #1d2c3b
                    &.is-active
                        background: #1d2c3b
    &__dropdown
        text-align: center
        background: #df3027
        li
            position: relative
            display: inline-block
            margin: 0 20px
            a
                display: block
                height: 80px
                line-height: 80px 
                font-weight: 300
                color: #fff
                text-decoration: none   
                .filters__reset
                    display: none
                    position: absolute
                    top: 50%
                    left: -18px
                    padding-right: 6px
                    margin-top: -6px 
                    cursor: pointer
                    +s(reset)
                &.is-active
                    .filters__reset
                        display: block
                &.no-active
                    color: rgba(#fff, 0.5)           
        .pagewrap_blog &
            background: #1d2c3b         
.services
    position: relative
    &__link
        display: block
        height: 200px
        overflow: hidden
        text-decoration: none
        position: relative
        +gpu
        &:hover
            .services__bg
                & > div
                    +transform(scale(1))
                    &.services__img
                        opacity: 1
            .services__logo
                +transform(scale(0.7) translate3d(0, -60px, 0))
                opacity: 0
        +r(w768)
            &:hover
                .services__bg
                    & > div
                        +transform(scale(1.03))
                        &.services__img
                            opacity: 0
                .services__logo
                    +transform(scale(1) translate3d(0, 0, 0))
                    opacity: 1                       
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        & > div
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            +transform(scale(1.03))
            +transition(all 0.5s ease)
            &.services__img
                opacity: 0
    &__logo
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        text-align: center
        font-size: 0px
        color: #fff
        +transition(all 0.5s ease)
        &:before
            content: ""
            display: inline-block
            width: 0
            height: 100%
            vertical-align: middle  
        i
            display: inline-block
            margin-bottom: 10px
            &.design-logo
                +s(design-logo-white)
            &.technic-logo
                +s(technic-logo)
            &.responsive-logo
                +s(responsive-logo)
            &.rocket-logo
                +s(rocket-logo)
            &.support-logo
                +s(support-logo)                
        p
            font-size: 24px
            font-weight: 400                            
    &__inner
        display: inline-block
        vertical-align: middle
        
.quote
    position: relative
    font-size: 16px
    color: #161616
    font-weight: 300
    text-align: left 
    line-height: 1.8
    &:before
        content: ""
        position: absolute
        top: -5px
        left: -50px
        +s(quote)
    &__text
        margin-bottom: 20px
    &__author
        font-size: 0
        img
            display: inline-block
            vertical-align: middle
            margin-right: 25px
        span
            display: inline-block
            vertical-align: middle
            font-size: 14px
            color: #939393
            font-weight: 300
    +r(w1280)
        font-size: 14px
        line-height: 1.6
        padding: 20px
        &:before
            top: 20px
            left: -19px
    +r(w900)
        font-size: 13px
        .quote__text
            margin-bottom: 10px
        .quote__author
            span
                font-size: 13px
    +r(w768)
        margin: 0 10%
        font-size: 16px
        line-height: 1.8
    +r(w568)
        font-size: 14px
        line-height: 1.6
    +r(w480)
        margin: 0 
        padding: 10px 0 10px 20px
        &:before
            top: 10px
            
// blog
.blog-wrap
    +clr
.blog
    width: 50%
    float: left
    +r(w800)
        width: 100% 
    &__container
        position: relative
        height: 0
        padding-bottom: 60%
    a
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background: #3db670
        text-decoration: none
        font-size: 0
        vertical-align: middle
        color: #fff
        +tr(background 200ms)
        &:before
            content: ""
            display: inline-block
            width: 0
            height: 100%
            vertical-align: middle
        &:hover
            background: lighten(#3db670, 10%)
        &:visited
            color: rgba(#fff, 0.5)
            .link
                color: rgba(#fff, 0.5)
            .blog__author
                color: rgba(#fff, 0.5)              
    &.blog_blue
        a
            background: #2980b9
            &:hover
                background: lighten(#2980b9, 10%)                      
    &.blog_yellow
        a
            background: #e9bc21
            &:hover
                background: lighten(#e9bc21, 10%) 
    &.blog_violet
        a
            background: #9b59b6
            &:hover
                background: lighten(#9b59b6, 10%)
    &.blog_red
        a
            background: #e74c3c
            &:hover
                background: lighten(#e74c3c, 10%)
    &.blog_orange
        a
            background: #e67e22
            &:hover
                background: lighten(#e67e22, 10%)
    &.blog_turquoise
        a
            background: #1abc9c
            &:hover
                background: lighten(#1abc9c, 10%)
    &__inner
        display: inline-block
        vertical-align: middle
        +box
        padding: 0 13%
        +r(w1180)
            padding: 0 5%
        +r(w800)
            padding: 0 10%
        +r(w480)
            padding: 0 5%           
    &__date
        color: rgba(#fff, .5)
        font-size: 12px
        margin-bottom: 40px
        +r(w1180)
            margin-bottom: 20px
        +r(w800)
            margin-bottom: 40px
        +r(w480)
            margin-bottom: 20px        
    .link
        color: #fff
        margin-bottom: 45px
        span
            +s(arr-right-white)
        &:hover
            span
                +s(arr-right-white)
        +r(w1180)
            margin-bottom: 25px
            font-size: 20px
        +r(w800)
            margin-bottom: 45px
            font-size: 24px
        +r(w568)
            font-size: 20px
        +r(w480)
            font-size: 18px
            margin-bottom: 25px
        +r(w360)
            font-size: 16px                          
    &__author
        vertical-align: middle
        font-size: 0
        img, span
            display: inline-block
            vertical-align: middle
        img
            margin-right: 25px
        span
            font-size: 14px                                                                  
                            