// styles for inner pages
.portfolio
    padding-top: 150px
    text-align: center
    +r(w768)
        padding-top: 80px
    &__nav
        display: inline-block
        li
            display: inline-block
            a
                position: relative
                display: block
                height: 80px
                padding: 0 50px 0 30px
                line-height: 80px
                font-weight: 300
                font-size: 14px
                text-decoration: none
                color: #fff
                +tr(background 200ms)
                &:before
                    content: ""
                    position: absolute
                    top: 36px
                    right: 30px
                    +s(arr-down)
                &:hover
                    background: #df3027
                &.is-active
                    background: #df3027    
    &__dropdown
        text-align: center
        background: #df3027
        li
            display: inline-block
            margin: 0 20px
            a
                display: block
                height: 80px
                line-height: 80px 
                font-weight: 300
                color: #fff
                text-decoration: none
.services
    position: relative
    &__link
        display: block
        height: 200px
        overflow: hidden
        text-decoration: none
        position: relative
        +gpu
        &:hover
            .services__bg
                & > div
                    +transform(scale(1))
                    &.services__img
                        opacity: 1
            .services__logo
                +transform(scale(0.7) translate3d(0, -60px, 0))
                opacity: 0
        +r(w768)
            &:hover
                .services__bg
                    & > div
                        +transform(scale(1.03))
                        &.services__img
                            opacity: 0
                .services__logo
                    +transform(scale(1) translate3d(0, 0, 0))
                    opacity: 1                       
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        & > div
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            +transform(scale(1.03))
            +transition(all 0.5s ease)
            &.services__img
                opacity: 0
    &__logo
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        text-align: center
        font-size: 0px
        color: #fff
        +transition(all 0.5s ease)
        &:before
            content: ""
            display: inline-block
            width: 0
            height: 100%
            vertical-align: middle  
        i
            display: inline-block
            margin-bottom: 10px
            &.design-logo
                +s(design-logo-white)
            &.technic-logo
                +s(technic-logo)
            &.responsive-logo
                +s(responsive-logo)
            &.rocket-logo
                +s(rocket-logo)
            &.support-logo
                +s(support-logo)                
        p
            font-size: 24px
            font-weight: 400                            
    &__inner
        display: inline-block
        vertical-align: middle
        
.quote
    position: relative
    font-size: 16px
    color: #161616
    font-weight: 300
    text-align: left 
    line-height: 1.8
    &:before
        content: ""
        position: absolute
        top: -5px
        left: -50px
        +s(quote)
    &__text
        margin-bottom: 20px
    &__author
        font-size: 0
        img
            display: inline-block
            vertical-align: middle
            margin-right: 25px
        span
            display: inline-block
            vertical-align: middle
            font-size: 14px
            color: #939393
            font-weight: 300
    +r(w1280)
        font-size: 14px
        line-height: 1.6
        padding: 20px
        &:before
            top: 20px
            left: -19px
    +r(w900)
        font-size: 13px
        .quote__text
            margin-bottom: 10px
        .quote__author
            span
                font-size: 13px
    +r(w768)
        margin: 0 10%
        font-size: 16px
        line-height: 1.8
    +r(w568)
        font-size: 14px
        line-height: 1.6
    +r(w480)
        margin: 0 
        padding: 10px 0 10px 20px
        &:before
            top: 10px    

                              
                            