// default layout
.box-wrap
	+clr
.box-wrap__col
	float: left
	width: 20%
	&.wide
		width: 40% 
.box
	float: left
	width: 100%
	+box
	&.box_small
		width: 50%
	.m-services &
		border-bottom: 1px solid #f0f0f0
		border-left: 1px solid #f0f0f0  	   	
