// Normally mainpage styles
.topper
	position: relative
	z-index: 99
.wrapper
	position: relative
	+r(w768)
		overflow: hidden
		-webkit-perspective: 1500px
		perspective: 1500px
		-webkit-perspective-origin: 0% 50%
		perspective-origin: 0% 0%	
.out_mobile
	position: relative
	+r(w768)
		-webkit-transform-style: preserve-3d
		transform-style: preserve-3d
		+transition(transform 0.5s)
		&.is-open
			+transform(translate3d(200px, 0, 0))
.out__inner
	position: relative
	&:after
		position: absolute
		content: ""
		top: 0
		right: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.2)
		opacity: 0
		+transition(opacity 0.5s linear)
		z-index: -1
	&.is-open
		&:after
			opacity: 1
			z-index: 999				  			 
.header-wrap
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 110px
	z-index: 1000
	+r(w768)
		height: auto 
		width: 200px
		bottom: 0
		background: #fa453c
		+box-shadow(0 2px 10px rgba(112,25,21,.1))
		+transition(all 0.5s)
		visibility: hidden
		+transform(translate3d(-200px, 0, 0) rotateY(90deg))
		-webkit-transform-origin: 100% 50%
		transform-origin: 100% 50%
		-webkit-transform-style: preserve-3d
		transform-style: preserve-3d
		&.is-open
			+r(w768)
				visibility: visible
				+transition(transform 0.5s)
				+transform(translate3d(-200px, 0, 0) rotateY(0deg))
.header
	position: absolute
	top: 0
	left: 0
	right: 0 
	height: 110px
	+clr
	padding: 0 50px 
	background: #fa453c
	z-index: 999
	&.is-fixed
		position: fixed
		+box-shadow(0 2px 10px rgba(112,25,21,.1))
	+r(w900)
		padding: 0 20px 	
	+r(w768)
		height: auto
		position: absolute
		padding: 0
		&.is-fixed
			+box-shadow(none)  	
.logo
	float: left
	height: 110px
	+vcenter 
	a
		display: inline-block
		vertical-align: middle
		+s(logo)
	+r(w768)
		float: none
		height: 80px
		padding: 0 43px
.menu-btn
	display: none
	position: fixed
	top: 0
	right: 0
	width: 66px
	height: 66px
	background: #fa453c
	z-index: 100
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 50%
		margin: -10px 0 0 -12px 
		+s(menu-btn)
	&:after
		position: absolute
		content: ""
		top: 0
		right: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.2)
		opacity: 0
		+transition(opacity 0.5s linear)
		z-index: -1		
	&.is-active
		&:after
			opacity: 1
			z-index: 999	
	+r(w768)
		display: block	 
.menu
	overflow: hidden
	text-align: center
	padding: 45px 0 
	ul
		display: inline-block
		margin-left: 146px
		+r(w1024)
			margin-left: 0
		li
			display: inline-block
			vertical-align: middle
			a
				position: relative
				display: block
				font-size: 12px
				font-weight: 400
				text-transform: uppercase
				margin: 0 13px 
				text-decoration: none
				color: #fff
				&:after
					content: ""
					position: absolute
					top: 100%
					left: 0
					width: 100%
					background: #fff
					opacity: 0
					+transition(all 0.3s)
					+transform(translateY(-10px))
				&:hover
					&:after
						height: 2px
						opacity: 1
						+transform(translateY(2px))
	+r(w768)
		overflow: visible
		padding: 10px 0 45px 
		ul
			display: block
			padding: 0 30px 
			li
				display: block
				text-align: left
				a
					display: inline-block
					height: 30px
					line-height: 30px
					&:hover
						&:after
							+transform(translateY(-4px)) 					 		
.header__tools
	float: right
	height: 110px
	+vcenter
	+r(w768)
		display: none
.header__phone
	display: inline-block
	vertical-align: middle
	margin-right: 35px
	font-size: 12px
	font-weight: 700
	color: #fff
	+r(w1024)
		display: none 
.like
	display: inline-block
	vertical-align: middle
	font-size: 0
	a
		position: relative
		display: inline-block
		+s(like)
		+transition(transform ease-out 0.1s)
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 23px
			+box
			border: 3px solid #fff
			background: transparent
			+transform(scale(1))
			z-index: -1
		&:hover
			+transform(translate3d(0, 0, 0) scale(0.96))
			&:after
				+animation(pulse 1s linear)
				+box-shadow(0 0px 5px 2px #fa453c)	

// slider
.slider
	position: relative
	height: 790px
	z-index: 1
	+r(w1024)
		height: 669px
	+r(w768)
		height: 580px
	+r(w480)
		height: 360px	 	
	&__list
		position: relative
		overflow: hidden
		height: 100%
		width: 100%
		& > li
			position: absolute
			top: 0
			right: 0
			left: auto 
			width: 100%
			height: 100%
			font-size: 0
			overflow: hidden
			background: #fa453c
			text-align: center
			+vcenter 
			&.slider__left-item
				left: 0
				right: auto
			&.is-active
				z-index: 1	
	&__next
		position: absolute
		top: 50%
		right: 48px
		+s(slider-next)
		z-index: 2
		+r(w768) 
			right: 15px
		+r(w480)
			display: none	
	&__prev
		position: absolute
		top: 50%
		left: 48px
		+s(slider-prev)
		z-index: 2
		+r(w768) 
			left: 15px
		+r(w480)
			display: none	
	&__pager
		position: absolute
		bottom: 70px
		left: 0
		right: 0
		text-align: center
		z-index: 2
		ul
			display: inline-block
			li
				display: inline-block
				vertical-align: middle
				margin: 0 11px
				a
					display: block
					width: 8px
					height: 8px  
					border-radius: 50%
					background: #fff
					+gpu
					+transition(all 200ms)
				&.is-active
					a		  
						height: 12px
						width: 12px
						background: #ffeb12
		+r(w480)
			bottom: 35px 				
	&__content
		display: inline-block
		vertical-align: middle
		max-width: 800px 
		padding: 0 50px
		+r(w480)
			padding: 0 20px	
.logo-big
	position: relative
	display: inline-block
	margin-bottom: 80px
	padding-left: 73px
	font-size: 32px
	font-weight: 700
	color: #fff
	text-decoration: none
	text-transform: uppercase
	&:before
		content: ""
		position: absolute
		top: -4px
		left: 0
		+s(logo-big)
	+r(w768)
		margin-bottom: 30px
	+r(w480)
		font-size: 21px
		&:before
			top: -13px	 	
.slider__text
	font-size: 24px
	text-transform: uppercase
	font-weight: 300
	line-height: 1.8
	color: #fff
	span
		font-weight: 400
		color: #ffeb12
	+r(w768)
		font-size: 20px
	+r(w640)
		font-size: 18px
	+r(w560)
		font-size: 16px
	+r(w480)
		font-size: 14px				
.m-works
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	overflow: hidden
	font-size: 0
	&__img
		position: absolute
		top: 0px
		left: 0px
		right: 0px
		bottom: 0px
		z-index: 1
		img
			min-width: 100%
			min-height: 100%
	&__img-blur
		position: absolute
		top: 0px
		left: 0px
		right: 0px
		bottom: 0px
		z-index: 2
		+tr(opacity 400ms linear)
		+gpu
		img
			min-width: 100%
			min-height: 100%		
	&__logo
		position: absolute
		top: 0px
		left: 0px
		right: 0px
		bottom: 0px
		+vertical
		+tr(opacity 300ms)
		z-index: 3
		img
			position: relative
			display: inline-block
			vertical-align: middle
			max-width: 100%		
	&:hover
		.m-works__logo
			opacity: 0
		.m-works__img-blur
			opacity: 0		 	 							   						
.expedition-logo
	+s(expedition-logo)
.mattioli-logo
	+s(mattioli-logo)
.tnt-logo
	+s(tnt-logo)
.naplavu-logo
	+s(naplavu-logo)			
.m-portfolio
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px 
	+box
	+vertical
	padding: 0 15%
	font-size: 0 
	background: #fff
	text-align: left
	&__img
		height: 259px
		overflow: hidden
		margin-bottom: 30px
		text-align: center
		img
			display: inline-block
			max-width: 100%
	+r(w1280)
		padding: 10px 30px
		.m-portfolio__img
			height: 200px
	+r(w1180)
		.m-portfolio__img
			height: 259px
	+r(w900)
		.m-portfolio__img
			height: 200px
	+r(w768)
		text-align: center
		.m-portfolio__img
			display: none				 		 	
	&__inner
		+clr
		display: inline-block
		vertical-align: middle
		font-size: 14px
		color: #6f6f6f
		p
			margin-bottom: 25px
			line-height: 1.6
		ul
			+clr
			li
				position: relative
				float: left
				margin-bottom: 20px
				width: 40%
				+box
				padding-left: 27px
				font-size: 12px
				font-weight: 400 
				text-transform: uppercase
				color: #262626
				&:before
					content: ""
					position: absolute
					top: 0
					left: 0
					+s(ok)
			+r(w900)
				margin-bottom: 5px
				li
					margin-bottom: 5px	
		+r(w1280)
			font-size: 13px
		+r(w900)
			.link
				margin-bottom: 5px
			p
				margin-bottom: 15px
		+r(w768)
			.link
				margin-bottom: 35px									
	&__left
		margin-bottom: 40px
		+r(w1180)
			float: left
			width: 50%
		+r(w568)
			width: 100%
		+r(w480)
			margin-bottom: 10px	 	
	&__right
		ul
			margin-bottom: 30px
		img
			margin-right: 40px
			+r(w900)
				margin-right: 20px
		+r(w1180)
			float: left
			width: 50%
		+r(w900)
			ul
				margin-bottom: 5px
				margin-top: 5px
				li
					width: 50%
			img
				max-width: 50%
		+r(w568)
			width: 100%
			ul
				margin-bottom: 15px
				text-align: left
		+r(w480)
			ul
				padding-left: 25%
				li
					width: 100%
					margin-bottom: 10px
			img
				display: block
				margin: 5px auto 				 						 					  
	&:hover
		.link
			color: #f3463d
			span
				+s(arr-right-red)
	&.m-portfolio_mod
		+r(w900)
			padding: 5px 20px 
		.link
			padding-top: 35px 
			font-weight: 400
			font-size: 16px
			text-transform: uppercase
			i
				position: absolute
				top: 0
				left: 0
			+r(w768)
				i
					left: 50%
					margin-left: -15px	
.bitrix
	+r(w1180)
		+clr										
.mob-icon
	+s(mob-icon)
.promotion-icon
	+s(promotion-icon)
.design-icon
	+s(design-icon)
.bitrix-icon
	+s(bitrix-icon)

// m-events
.m-events
	position: relative
	top: -1px
	&__list
		+clr 
		background: #ffeb12 
	&__item
		position: relative
		float: left
		width: 20%
		height: 200px
		+box
		vertical-align: middle
		&:first-child
			text-align: center
			.m-events__inner
				+vertical
			.link
				vertical-align: middle
				margin-bottom: 0	
			&:hover
				.m-events__inner
					background: #ffeb12
				// .link
					// color: #fff
					// &:before
						// +s(arr-right-white)	
		&:hover
			.m-events__inner
				background: #27ae60
			.m-events__date
				color: rgba(#fff, .8)
			.m-events__text
				color: #fff
		+r(w1024)
			width: 25%
		+r(w768)
			width: 50%
			height: 150px
		+r(w480)
			width: 100%
			&:first-child
				height: 90px					
	&__inner
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0 
		padding: 45px 10% 10%
		+tr(background 300ms)
		background: #ffeb12
		z-index: 2
		+r(w900)
			padding: 10% 
	&__date
		margin-bottom: 20px
		font-size: 12px
		font-weight: 300
		color: rgba(#161616, .8)
		+tr(color 300ms)
	&__text
		line-height: 1.6
		font-weight: 400 
		color: #414141
		+tr(color 300ms)
.m-services 
	background: #ebf0f1
	&__alert
		text-align: center
		padding: 75px 50px 
		color: #161616
		font-weight: 300
		font-size: 36px
		+r(w900)
			font-size: 30px
		+r(w768)
			font-size: 24px	
.m-clients
	padding: 92px 50px
	background: url(../img/clients-bg.jpg) no-repeat
	+cover
	background-attachment: fixed
	text-align: center
	&__title
		margin-bottom: 85px
		color: #fff
		font-size: 24px
		text-transform: uppercase
		span
			font-weight: 400
	&__list
		font-size: 0
		line-height: 1
		li
			display: inline-block
			vertical-align: middle
			width: 20%
			margin-bottom: 35px
			text-align: center
		+r(w768)
			li
				width: 25%
		+r(w568)
			li
				width: 45%
	&__btn
		position: relative
		overflow: hidden		
	+r(w900)
		padding: 52px 20px
	+r(w768)
		background-attachment: scroll
	+r(w480)
		padding: 52px 0 		 						 
		 		   			
						
			 	
		  					