// Normally mainpage styles
.topper
	position: relative
	background: #fa453c
	text-align: center
	padding-top: 150px
	z-index: 99
	&__img
		font-size: 0
		img
			max-width: 90%
	+r(w768)
		padding-top: 80px
	.l-gray &
		background: $gray
	.l-green &
		background: $green
	.l-red &
		background: $red
	.l-blue &
		background: $blue
	.l-yellow &
		background: $yellow
	.l-violet &
		background: $violet
	.l-orange &
		background: $orange
	.l-turquoise & 
		background: $turquoise
	.l-sea & 
		background: $sea
	.l-vinous & 
		background: $vinous		
	&.topper_index
		padding-top: 0
	&.topper_portfolio 
		background: transparent url(../img/topper-bg1.jpg)
		+cover
	&__logo
		padding: 60px 0
		font-size: 0
	&__link
		padding: 70px 0 120px 	
		a
			display: inline-block
			position: relative
			padding-left: 37px
			font-size: 24px
			font-weight: 400
			color: #fff  
			&:before
				content: ""
				position: absolute
				top: 9px
				left: 0
				+s(link)
			&:hover
				text-decoration: none
	&__overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%  				 			
.wrapper
	position: relative
	&.has-blur
		+blur(3px)
	+r(w768)
		-webkit-perspective: 1500px
		perspective: 1500px
		-webkit-perspective-origin: 0% 50%
		perspective-origin: 0% 0%	
.out_mobile
	position: relative
	+r(w768)
		-webkit-transform-style: preserve-3d
		transform-style: preserve-3d
		+transition(transform 0.5s)
		&.is-open
			+transform(translate3d(200px, 0, 0))
	+r(w320)
		&.is-open
			+transform(translate3d(320px, 0, 0))	
.out__inner
	position: relative
	+gpu
	&:after
		position: absolute
		content: ""
		top: 0
		right: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.2)
		opacity: 0
		+transition(opacity 0.5s linear)
		z-index: -1
	&.is-open
		&:after
			opacity: 1
			z-index: 999				  			 
// .header-wrap
// 	position: absolute
// 	top: 0
// 	left: 0
// 	right: 0
// 	height: 110px
// 	z-index: 1000
// 	+r(w768)
// 		height: auto 
// 		width: 200px
// 		bottom: 0
// 		background: #fa453c
// 		+box-shadow(0 2px 10px rgba(112,25,21,.1))
// 		+transition(all 0.5s)
// 		visibility: hidden
// 		+transform(translate3d(-200px, 0, 0) rotateY(90deg))
// 		-webkit-transform-origin: 100% 50%
// 		transform-origin: 100% 50%
// 		-webkit-transform-style: preserve-3d
// 		transform-style: preserve-3d
// 		&.is-open
// 			+r(w768)
// 				visibility: visible
// 				+transition(transform 0.5s)
// 				+transform(translate3d(-200px, 0, 0) rotateY(0deg))
// 		.l-gray &
// 			background: $gray
// 		.l-green &
// 			background: $green
// 		.l-red &
// 			background: $red
// 		.l-blue &
// 			background: $blue
// 		.l-yellow &
// 			background: $yellow
// 		.l-violet &
// 			background: $violet
// 		.l-orange &
// 			background: $orange
// 		.l-turquoise & 
// 			background: $turquoise
// 		.l-sea & 
// 			background: $sea
// 		.l-vinous & 
// 			background: $vinous		 
// 	+r(w320)
// 		width: 320px
// 		+transform(translate3d(-320px, 0, 0) rotateY(90deg))
// 		&.is-open
// 			+transform(translate3d(-320px, 0, 0) rotateY(0deg))					
.header
	position: absolute
	top: 0
	left: 0
	right: 0 
	bottom: 0
	padding: 0 45px
	background: #fa453c 
	&__close
		visibility: hidden
		position: absolute
		top: 24px
		right: 20px
		+s(close)
		cursor: pointer
		z-index: 2
	.l-gray &
		background: $gray
	.l-green &
		background: $green
	.l-red &
		background: $red
	.l-blue &
		background: $blue
	.l-yellow &
		background: $yellow
	.l-violet &
		background: $violet
	.l-orange &
		background: $orange
	.l-turquoise & 
		background: $turquoise
	.l-sea & 
		background: $sea
	.l-vinous & 
		background: $vinous
	+r(w900)
		padding: 0 20px 	
	+r(w768)
		padding: 0
		.header__close
			visibility: visible			  	
.logo
	float: left
	height: 110px
	+vcenter 
	a
		display: inline-block
		vertical-align: middle
		+s(logo)
	+r(w768)
		display: none
.menu-btn
	display: none
	position: fixed
	top: 0
	right: 0
	width: 66px
	height: 66px
	background: #fa453c
	+tr(opacity 200ms)
	z-index: 100
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 50%
		margin: -10px 0 0 -12px 
		+s(menu-btn)
	&:after
		position: absolute
		content: ""
		top: 0
		right: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.2)
		opacity: 0
		+transition(opacity 0.5s linear)
		z-index: -1		
	&.is-active
		opacity: 0
		z-index: 0
	.l-gray &
		background: $gray
	.l-green &
		background: $green
	.l-red &
		background: $red
	.l-blue &
		background: $blue
	.l-yellow &
		background: $yellow
	.l-violet &
		background: $violet
	.l-orange &
		background: $orange
	.l-turquoise & 
		background: $turquoise
	.l-sea & 
		background: $sea
	.l-vinous & 
		background: $vinous			 		
	+r(w768)
		display: block	 
.menu
	overflow: hidden
	text-align: center
	padding: 45px 0
	+gpu
	ul
		display: inline-block
		margin-left: 146px
		+r(w1024)
			margin-left: 0
		li
			display: inline-block
			vertical-align: middle
			a
				position: relative
				display: block
				font-size: 12px
				font-weight: 400
				text-transform: uppercase
				margin: 0 13px 
				text-decoration: none
				color: #fff
				&:after
					content: ""
					position: absolute
					top: 100%
					left: 0
					width: 100%
					background: #fff
					opacity: 0
					+transition(all 0.3s)
					+transform(translateY(-10px))
				&:hover
					&:after
						height: 2px
						opacity: 1
						+transform(translateY(4px))
				&.is-active
					&:after
						height: 2px
						opacity: 1
						+transform(translateY(4px))		
	+r(w768)
		overflow: visible
		padding: 80px 0 45px 
		ul
			display: block
			padding: 0 30px 
			li
				display: block
				a
					display: inline-block
					height: 30px
					line-height: 30px
					&:hover
						&:after
							+transform(translateY(-4px))
					&.is-active
						&:after
							+transform(translateY(-4px))
	+r(w320)
		ul
			li
				margin-bottom: 5px
				a
					font-size: 15px								 					 		
.header__tools
	float: right
	height: 110px
	+vcenter
	+r(w768)
		float: none
		position: absolute
		top: 275px
		left: 0
		right: 0
		height: auto 
		text-align: center
	+r(w320)
		top: 320px	
.header__phone
	display: inline-block
	vertical-align: middle
	margin-right: 35px
	font-size: 12px
	text-decoration: none
	font-weight: 700
	color: #fff
	+r(w1024)
		display: none
	+r(w768)
		display: inline-block
		margin-right: 0
		width: 100%
		margin-bottom: 10px  	 
.like
	display: inline-block
	vertical-align: middle
	font-size: 0
	a
		position: relative
		display: inline-block
		+s(like-red)
		+transition(transform ease-out 0.1s)
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 23px
			+box
			border: 3px solid #fff
			background: transparent
			+transform(scale(1))
			z-index: -1
		&:hover
			+transform(translate3d(0, 0, 0) scale(0.96))
			&:after
				+animation(pulse 1s linear)
				+box-shadow(0 0px 5px 2px #fa453c)
	.l-gray &
		a
			+s(like-gray)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $gray)
	.l-green &
		a
			+s(like-green)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $green)
	.l-blue &
		a
			+s(like-blue)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $blue)
	.l-yellow &
		a
			+s(like-yellow)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $yellow)
	.l-violet &
		a
			+s(like-violet)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $violet)
	.l-orange &
		a
			+s(like-orange)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $orange)
	.l-turquoise &
		a
			+s(like-turquoise)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $turquoise)
	.l-sea &
		a
			+s(like-sea)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $sea)																																	
	.l-vinous &
		a
			+s(like-vinous)
			&:hover
				&:after
					+box-shadow(0 0px 5px 2px $vinous)
// slider
.slider
	position: relative
	height: 790px
	z-index: 1
	+r(w1024)
		height: 669px
	+r(w768)
		height: 580px
		margin: 0
	+r(w480)
		height: 360px
	&__topper
		position: absolute
		top: 230px
		left: 0
		right: 0
		text-align: center
		z-index: 999
		+r(w768)
			top: 125px
		+r(w480)
			top: 100px
		+r(w320)
			top: 70px			 	
	&__list
		position: relative
		overflow: hidden
		height: 100%
		width: 100%
		& > li
			position: absolute
			top: 0
			right: 0
			left: auto 
			width: 100%
			height: 100%
			font-size: 0
			overflow: hidden
			background: #fa453c
			text-align: center
			&.slider__left-item
				left: 0
				right: auto
			&.is-active
				z-index: 1		 
	&__next
		position: absolute
		top: 50%
		right: 48px
		+s(slider-next)
		z-index: 2
		&.is-hidden
			display: none
		+r(w768) 
			right: 15px
		+r(w480)
			display: none	
	&__prev
		position: absolute
		top: 50%
		left: 48px
		+s(slider-prev)
		z-index: 2
		&.is-hidden
			display: none
		+r(w768) 
			left: 15px
		+r(w480)
			display: none	
	&__pager
		position: absolute
		bottom: 70px
		left: 0
		right: 0
		text-align: center
		z-index: 2
		a
			position: relative
			display: inline-block
			vertical-align: middle
			margin: 0 5px
			width: 20px
			height: 20px
			+transition(transform 200ms)
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 50%
				margin: -4px 0 0 -4px
				width: 8px
				height: 8px
				border-radius: 50% 
				background: #FFF  
			&.is-active
				&:before 
					+transform(translate3d(0,0,0) scale(1.4))
					background: #ffeb12
			&:hover
				&:before
					background: #ffeb12	
		+r(w480)
			bottom: 35px 				
	&__content
		max-width: 800px
		margin: 0 auto  
		padding: 350px 50px 0
		+r(w768)
			padding: 215px 50px 0
		+r(w480)
			padding: 175px 20px 0
		+r(w320)
			padding: 140px 20px 0 		
.logo-big
	position: relative
	display: none
	margin-bottom: 80px
	padding-left: 73px
	font-size: 32px
	font-weight: 700
	color: #fff
	text-decoration: none
	text-transform: uppercase
	&:before
		content: ""
		position: absolute
		top: -4px
		left: 0
		+s(logo-big)
	.slider &
		display: inline-block	
	+r(w768)
		display: inline-block
		margin-bottom: 30px
	+r(w480)
		font-size: 21px
		&:before
			top: -13px			 	
.slider__text
	font-size: 24px
	text-transform: uppercase
	font-weight: 300
	line-height: 1.8
	color: #fff
	span
		font-weight: 400
		color: #ffeb12
	+r(w768)
		font-size: 20px
	+r(w640)
		font-size: 18px
	+r(w560)
		font-size: 16px
	+r(w480)
		font-size: 14px
.m-works-wrap
	position: relative
	z-index: 2						
.m-works
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	overflow: hidden
	font-size: 0
	+gpu
	&__img
		position: absolute
		top: 0px
		left: 0px
		right: 0px
		bottom: 0px
		z-index: 1
		+cover
		+transform(scale(1))
		+transition(all 0.3s linear)
	&__img-blur
		position: absolute
		top: 0px
		left: 0px
		right: 0px
		bottom: 0px
		z-index: 2
		+tr(all 300ms linear)
		+gpu
		+cover		
	&__logo
		position: absolute
		top: 0px
		left: 0px
		right: 0px
		bottom: 0px
		+vertical
		+tr(all 300ms)
		z-index: 3
		img
			position: relative
			display: inline-block
			vertical-align: middle
			max-width: 100%		
	&:hover
		.m-works__img
			+transform(scale(1.05))
		.m-works__logo
			+transform(scale(0.7) translate3d(0, -60px, 0))
			opacity: 0
		.m-works__img-blur
			opacity: 0
	+r(w768)
		&:hover
			.m-works__img
				+transform(scale(1))
			.m-works__img-blur
				opacity: 1
			.m-works__logo
				opacity: 1
				+transform(scale(1) translate3d(0, 0, 0))					 	 							   						
.expedition-logo
	+s(expedition-logo)
.mattioli-logo
	+s(mattioli-logo)
.tnt-logo
	+s(tnt-logo)
.naplavu-logo
	+s(naplavu-logo)			
.m-portfolio
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px 
	+box
	+vertical
	padding: 0 15%
	font-size: 0 
	background: #fff
	text-align: left
	&__img
		height: 259px
		overflow: hidden
		margin-bottom: 30px
		text-align: center
		img
			display: inline-block
			max-width: 100%
	+r(w1280)
		padding: 10px 30px
		.m-portfolio__img
			height: 200px
	+r(w1180)
		.m-portfolio__img
			height: 259px
	+r(w900)
		.m-portfolio__img
			height: 200px
	+r(w768)
		text-align: center
		.m-portfolio__img
			display: none				 		 	
	&__inner
		+clr
		display: inline-block
		vertical-align: middle
		font-size: 14px
		color: #6f6f6f
		p
			margin-bottom: 25px
			line-height: 1.6
		ul
			+clr
			li
				position: relative
				float: left
				margin-bottom: 20px
				width: 40%
				+box
				padding-left: 27px
				font-size: 12px
				font-weight: 400 
				text-transform: uppercase
				color: #262626
				&:before
					content: ""
					position: absolute
					top: 0
					left: 0
					+s(ok)
			+r(w900)
				margin-bottom: 5px
				li
					margin-bottom: 5px	
		+r(w1280)
			font-size: 13px
		+r(w900)
			.link
				margin-bottom: 5px
			p
				margin-bottom: 15px
		+r(w768)
			.link
				margin-bottom: 35px									
	&__left
		margin-bottom: 40px
		+r(w1180)
			float: left
			width: 50%
		+r(w568)
			width: 100%
		+r(w480)
			margin-bottom: 10px	 	
	&__right
		ul
			margin-bottom: 30px
		img
			margin-right: 40px
			+r(w900)
				margin-right: 20px
		+r(w1180)
			float: left
			width: 50%
		+r(w900)
			ul
				margin-bottom: 5px
				margin-top: 5px
				li
					width: 50%
			img
				max-width: 50%
		+r(w768)
			text-align: left		
		+r(w568)
			width: 100%
			ul
				margin-bottom: 15px
				text-align: left
		+r(w480)
			ul
				padding-left: 25%
				li
					width: 100%
					margin-bottom: 10px
			img
				display: block
				margin: 5px auto
		+r(w320)
			img
				margin: 5px auto 20px 		 				 						 					  
	&:hover
		.link
			color: #f3463d
			span
				+s(arr-right-red)
	&.m-portfolio_mod
		+r(w900)
			padding: 5px 20px 
		.link
			padding-top: 35px 
			font-weight: 400
			font-size: 16px
			text-transform: uppercase
			i
				position: absolute
				top: 0
				left: 0
			+r(w768)
				i
					left: 50%
					margin-left: -15px	
.bitrix
	+r(w1180)
		+clr										
.mob-icon
	+s(mob-icon)
.promotion-icon
	+s(promotion-icon)
.design-icon
	+s(design-icon)
.bitrix-icon
	+s(bitrix-icon)

// m-events
.m-events
	position: relative
	z-index: 2
	//top: -1px
	&__list
		+clr 
		background: #ffeb12 
	&__item
		position: relative
		float: left
		width: 20%
		height: 200px
		+box
		+tr(background 300ms)
		vertical-align: middle
		&:first-child
			text-align: center
			.m-events__inner
				+vertical
				top: 10%
			.link
				vertical-align: middle
				margin-bottom: 0	
			&:hover
				background: #ffeb12	
		&:hover
			background: #27ae60
			.m-events__date
				color: rgba(#fff, .8)
			.m-events__text
				color: #fff
		+r(w1024)
			width: 25%
		+r(w768)
			width: 50%
			height: 150px
			&:hover
				background: #ffeb12
				.m-events__date
					color: rgba(#161616, .8)
				.m-events__text
					color: #414141 
		+r(w480)
			width: 100%
			&:first-child
				height: 90px					
	&__inner
		position: absolute
		top: 45px
		right: 10%
		bottom: 10%
		left: 10% 
		overflow: hidden
		z-index: 2
		+r(w900)
			top: 10% 
	&__date
		margin-bottom: 20px
		font-size: 12px
		font-weight: 300
		color: rgba(#161616, .8)
		+tr(color 300ms)
	&__text
		line-height: 1.6
		font-weight: 400 
		color: #414141
		+tr(color 300ms)
.m-services
	position: relative 
	background: #ebf0f1
	z-index: 2
	&__alert
		position: relative
		top: -2px
		text-align: center
		padding: 75px 50px 
		color: #161616
		font-weight: 300
		font-size: 36px
		background: #ebf0f1
		z-index: 2
		+r(w900)
			font-size: 30px
		+r(w768)
			font-size: 24px
		+r(w480)
			font-size: 20px		
.m-clients
	position: relative
	padding: 92px 50px
	text-align: center
	z-index: 1
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(1,15,36,.9)  
		z-index: 2 
	&__title
		position: relative
		margin-bottom: 85px
		color: #fff
		font-size: 24px
		text-transform: uppercase
		z-index: 3
		span
			font-weight: 400
	&__list
		position: relative
		font-size: 0
		line-height: 1
		z-index: 3
		li
			display: inline-block
			vertical-align: middle
			width: 20%
			margin-bottom: 35px
			text-align: center
		+r(w768)
			li
				width: 25%
		+r(w568)
			li
				width: 45%
	&__btn
		position: relative
		z-index: 3
	+r(w1024)
		background: url(../img/clients-bg.jpg) no-repeat
		+cover
	+r(w900)
		padding: 52px 20px
	+r(w480)
		padding: 52px 0
		.m-clients__title
			font-size: 18px
			margin-bottom: 58px 
.video-holder
	position: fixed
	top: 110px
	left: 0
	z-index: 1
	width: 100%
	min-width: 1440px
	min-height: 100%
	background: url(../img/clients-bg.jpg) no-repeat
	+cover
	+r(w1024)
		display: none 					 						 
		 		   			
						
			 	
		  					